<library path="nav2_planner_example_py">
    <class name="StraightLinePlanner" type="nav2_planner_example_py.straight_line_planner.StraightLinePlanner" base_class_type="nav2_core_py.global_planner.GlobalPlanner">
        <description>
      A PlanSys2 planner plugin that uses Large Language Models (LLMs) to generate PDDL plans.
        </description>
    </class>
</library>